body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.ttt-game {
    align-self: center;
    background-color: orange;
    width: 16rem;
    height: 16rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: solid 1px black;
    margin-top: 12rem;
}

.ttt-area {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.alerts {
    width: 100vw;
    height: 2rem;
    background-color: red;
}